fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
alembic==1.13.2
psycopg[binary]==3.2.1
pydantic==2.9.2
pydantic[email]==2.9.2
pydantic-settings==2.5.2
pyjwt==2.9.0
bcrypt==4.2.0
python-multipart==0.0.9
redis==5.0.8
